
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    .inner {        
        background-color: lightpink;
    }
    .primary{
        font-size:120px;
    }
    .lb{
        margin:15px;
        font-size:24px;        
    }
    p{
        font-weight:bold;
    }
</style>

<div class="inner">
    <p class="lb">號碼:</p>
    <div style="text-align:center">
        <p class="primary">@ViewBag.Num</p>      
    </div>
    <p style="font-size: 24px; text-align: right; margin: 15px; ">號</p>
</div>

