@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="section-title">
        <h2>休息日</h2>
        <p>Sit sint consectetur velit quos quisquam cupiditate nemo qui</p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card border-light mb-3">
                <div class="card-header"><h4>Walter White</h4></div>
                <div class="card-body">
                    <span>Chief Executive Officer</span>
                    <p>
                        Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                    </p>
                </div>
                <div id="monday2" class="card-body">
                    <span>Chief Executive Officer</span>
                    <p>
                        monday2
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                <img src="~/assets/img/team/team-2.jpg" alt="">
                <h4>Sarah Jhinson</h4>
                <span>Product Manager</span>
                <p>
                    Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                </p>
                <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                <img src="~/assets/img/team/team-3.jpg" alt="">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>
                    Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                </p>
                <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts{

    <script>
        //var x = $('#monday2');
        $('#monday2').hide();
        //x.show();
        $('.card-body').each(function () {
            let hospitalBusinessDay = {
                hDBmark: null,
            };
            if ($(this).is(':hidden')) {
                hospitalBusinessDay.hDBmark = 0;
                console.log('is hidden');
            }
            else {
                hospitalBusinessDay.hDBmark = 1;
                console.log($(this).find('p').text());
            }
            console.log(hospitalBusinessDay.hDBmark)
        })

    </script>
}
