@model VaccinationReservationPlatForm.Models.Person
@{
    ViewData["Title"] = "Edit";
    string phone = Model.PersonCellphoneNumber.Trim();
}

<div class="row col-lg-12 justify-content-center">
    <div class="col-md-6">
        <div>
            <form asp-action="Edit">
                <div class="text-center">
                    <h4><font size="24" class="text-center">個人資訊</font></h4>
                    <hr style="border-top:3px solid black;" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PersonId" />
                <div class="form-group mt-3" hidden>
                    <label asp-for="PersonName" class="control-label"></label>
                    <input asp-for="PersonName" class="form-control-plaintext" readonly />
                    <span asp-validation-for="PersonName" class="text-danger"></span>
                </div>
                <div class="form-group mt-3" hidden>
                    <label asp-for="PersonSex" class="control-label"></label>
                    <input asp-for="PersonSex" class="form-control" readonly />
                    <span asp-validation-for="PersonSex" class="text-danger"></span>
                </div>
                <div class="form-group mt-3" hidden>
                    <label asp-for="PersonBirthday" class="control-label"></label>
                    <input asp-for="PersonBirthday" type="datetime" class="form-control" readonly />
                    <span asp-validation-for="PersonBirthday" class="text-danger"></span>
                </div>
                <div class="form-group mt-3" hidden>
                    <label asp-for="PersonIdentityId" class="control-label"></label>
                    <input asp-for="PersonIdentityId" class="form-control" readonly />
                    <span asp-validation-for="PersonIdentityId" class="text-danger"></span>
                </div>
                <div class="form-group mt-3" hidden>
                    <label asp-for="PersonHealthId" class="control-label"></label>
                    <input asp-for="PersonHealthId" class="form-control" readonly />
                    <span asp-validation-for="PersonHealthId" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">手機號碼</label>
                    <input asp-for="PersonCellphoneNumber" value="@phone" class="form-control" />
                    <span asp-validation-for="PersonCellphoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">電子信箱</label>
                    <input asp-for="PersonMail" class="form-control" />
                    <span asp-validation-for="PersonMail" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">居住區域</label>
                    <div>
                        <select class="form-select" style="width:33%;display:inline-block;padding:3px" id="county" name="county" required>
                            <option style="display:none" value="">縣市</option>
                        </select>
                        <select class="form-select" style="width: 33%; display: inline-block; padding: 3px" id="town" name="town" required>
                            <option style="display:none" value="">鄉鎮市</option>
                        </select>
                        <select class="form-select" style="width: 33%; display: inline-block; padding: 3px" id="road" name="road" required>
                            <option style="display:none" value="">區段</option>
                        </select>
                    </div>
                    <input type="text" name="CountyTownText" id="CountyTownText" value="" hidden />
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">職業</label>
                    <input asp-for="PersonJob" class="form-control" />
                    <span asp-validation-for="PersonJob" class="text-danger"></span>
                </div>
                <div class=" text-right">
                    <input type="submit" value="儲存" id="submit" class="btn btn-primary" />&nbsp;&nbsp;<a style="text-align:match-parent" class="btn btn-outline-primary" asp-action="List">返回</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.3/jquery.csv.min.js"></script>
    <script src="~/js/Location.js"></script>
    <script type="text/javascript">
        var CountyTownName = "";
        $('#submit').on('click', function () {
            CountyTownName = $('#town').find("option:selected").text();
            $('#CountyTownText').attr('value', CountyTownName.toString());
        });

        window.onload = function () {
            GetUserDefaultAdress();
        }

        function GetUserDefaultAdress() {

            let userAddress = @Json.Serialize(Model.PersonAdress);
            if (userAddress == null) {
                return;
            }
            function SetSelect(select) {

                let timeid = setInterval(function () {
                    $(select).children().each(function () {
                        let selectText = $(this).text();
                        let selectValue = $(this).val();
                        if (userAddress.indexOf(selectText) != -1) {
                            //$(this).attr('selected', true);
                            $(this).parent().val(selectValue).change();
                            return;
                        }
                    });
                }, 100);

                $(select).change(function (event) {
                    if ($(this).val() != 'null') {
                        clearInterval(timeid);
                        $(this).off(event);
                    }
                })
            }

            SetSelect('#county');
            SetSelect('#town');
            SetSelect('#road');
        };
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
