@model VaccinationReservationPlatForm.ViewModels.CLoginViewModel
@{
    ViewData["Title"] = "Login";
}


<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css"
      integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<link href="~/css/JerryCss2.css" rel="stylesheet" />



<div class="row col-lg-12 justify-content-center">
    <div class="col-lg-6" style="align-content: center; align-items: center; align-self: center; text-align: center; vertical-align: middle;">
        <form class="row g-3" method="post" action="Login" enctype="application/x-www-form-urlencoded">
            <h4 align="center"><font size="24">登入頁面</font></h4>
            <hr style="border-top:5px solid black" />
            <br />
            <div>
                <div class="form-group mt-3">
                    <div class="form-floating ">
                        <input asp-for="txtPersonIdentityID" class="form-control" id="floatingInput" placeholder="IdentityId" required>
                        <label asp-for="txtPersonIdentityID" for="floatingInput" class="form-label"><font color="gray">身份證字號</font></label>
                        <span asp-validation-for="txtPersonIdentityID" class="text-danger" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <div class="form-floating ">
                        <input asp-for="txtPersonHealthID" class="form-control" id="floatingPassword" placeholder="HealthId" required>
                        <label asp-for="txtPersonHealthID" for="floatingPassword" class="form-label"><font color="gray">健保卡卡號</font></label>
                        <span asp-validation-for="txtPersonHealthID" class="text-danger"></span>
                    </div>
                </div>
                <div class="input-group mb-3" style="padding:5px 5px 5px 5px;" id="test">
                    <span class="input-group-text" id="basic-addon1"><span class="glyphicon glyphicon-check"></span>&nbsp;<font size="1" color="red" align="top">*</font>圖形驗證碼</span>
                    <input type="text" class="form-control" placeholder="請輸入圖形驗證碼" aria-label="Username" aria-describedby="basic-addon1" name="code"><img id="Va" src="/UserInfo/GetValidateCode" height="30" style="" /><span class="input-group-text" id="btn" onclick="reImg()" alt="看不清楚，換一張。"><span class="glyphicon glyphicon-refresh"></span></span>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label><font color="red">@ViewBag.Error</font></label>
                </div>
                <div class="text-center">
                    <input type="submit" value="登入" class="btn btn-primary editbutton" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function reImg() {
            var img = document.getElementById("Va");
            img.src = "/UserInfo/GetValidateCode?rnd=?" + Math.random();
        };

    </script>
    }



