.fa-2x {
    font-size: 1.5em   !important;
}


.app {
    position: relative   !important;
    overflow: hidden   !important;
    top: 19px   !important;
    height: calc(100% - 38px)   !important;
    margin: auto   !important;
    padding: 0   !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2)   !important;
}

.app-one {
    background-color: #f7f7f7   !important;
    height: 100%   !important;
    overflow: hidden   !important;
    margin: 0   !important;
    padding: 0   !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2)  !important;
}

.side {
    padding: 0  !important;
    margin: 0  !important;
    height: 100%  !important;
}


.heading {
    padding: 10px 16px 10px 15px  !important;
    margin: 0  !important;
    height: 60px  !important;
    width: 100%  !important;
    background-color: #eee  !important;
    z-index: 1000  !important;
}

.heading-avatar {
    padding: 0  !important;
    cursor: pointer  !important;
}

.heading-avatar-icon img {
    border-radius: 50% !important;
    height: 20px !important;
    width: 20px !important;
    margin-top: 10px !important;
}

.heading-name {
    padding: 0 !important;
    cursor: pointer !important;
    display: flex !important;
    width:auto !important;
}

.heading-name-meta {
    font-weight: 700  !important;
    font-size: 20px  !important;
    padding: 5px  !important;
    padding-bottom: 0  !important;
    text-align: left  !important;
    text-overflow: ellipsis  !important;
    white-space: nowrap  !important;
    color: #000  !important;
    display: flex  !important;
}

.heading-online {
    display: none  !important;
    padding: 0 5px  !important;
    font-size: 12px  !important;
    color: #93918f  !important;
}

.heading-compose {
    padding: 0  !important;
}

    .heading-compose i {
        text-align: center  !important;
        padding: 5px  !important;
        color: #93918f  !important;
        cursor: pointer  !important;
    }

.heading-dot {
    padding: 0  !important;
    margin-left: 10px  !important;
    margin-top:7px !important;
}

    .heading-dot i {
        text-align: right  !important;
        padding: 5px  !important;
        color: #93918f  !important;
        cursor: pointer  !important;
    }



.name-meta {
    font-size: 100%  !important;
    padding: 1%   !important;
    text-align: left  !important;
    text-overflow: ellipsis  !important;
    white-space: nowrap  !important;
    color: #000  !important;
}

.sideBar-time {
    padding: 10px   !important;
}

.time-meta {
    text-align: right  !important;
    font-size: 12px  !important;
    padding: 1%   !important;
    color: rgba(0, 0, 0, .4)  !important;
    vertical-align: baseline  !important;
}


/*Conversation*/

.conversation {
    padding: 0   !important;
    margin: 0   !important;
    height: 100%  !important;
    /*width: 100%  !important;*/
    border-left: 1px solid rgba(0, 0, 0, .08)  !important;
    overflow-y: hidden  !important;
}

.message {
    padding: 0   !important;
    margin: 0   !important;
    background: url("w.jpg") no-repeat fixed center  !important;
    background-size: cover  !important;
    overflow-y: auto  !important;
    border: 1px solid #f7f7f7  !important;
    height: calc(100% - 120px)  !important;
}

.message-previous {
    margin: 0   !important;
    padding: 0   !important;
    height: 50px  !important;
    width: 100%  !important;
}

.previous {
    font-size: 15px  !important;
    text-align: center  !important;
    padding: 10px   !important;
    cursor: pointer  !important;
}

    .previous a {
        text-decoration: none  !important;
        font-weight: 700  !important;
    }

.message-body {
    margin: 0   !important;
    padding: 0   !important;
    text-align:start !important;
    /*width: auto  !important;
    height: auto  !important;*/
}

.message-main-receiver {
    padding: 10px 20px  !important;
    max-width: 100%  !important;
}

.message-main-sender {
    padding: 3px 20px   !important;
    margin-left: 40%   !important;
    max-width: 60%  !important;
}

.message-text {
    font-family:'Microsoft JhengHei';
    word-wrap: break-word !important;
    font-weight: 200 !important;
    font-size: 14px !important;
    padding-bottom: 0 !important;
}

.message-time {
    margin-top: 10px   !important;
    margin-left: 50px   !important;
    font-size: 12px  !important;
    text-align: right  !important;
    color: #9a9a9a  !important;
}

.receiver {
    width: 100%   !important;
    padding: 4px 10px 7px   !important;
    border-radius: 10px 10px 10px 0  !important;
    background: #ffffff  !important;
    font-size: 12px  !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2)  !important;
    word-wrap: break-word  !important;
    display: inline-block  !important;
}

.sender {
    float: right  !important;
    width: auto   !important;
    background: #dcf8c6  !important;
    border-radius: 10px 10px 0 10px  !important;
    padding: 4px 10px 7px   !important;
    font-size: 12px  !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2)  !important;
    display: inline-block  !important;
    word-wrap: break-word  !important;
}


/*Reply*/

.reply {
    height: 60px  !important;
    width: 100%  !important;
    background-color: #f5f1ee  !important;
    padding: 10px 5px 10px 5px   !important;
    margin: 0   !important;
    z-index: 1000  !important;
}

.reply-emojis {
    padding: 5px   !important;
}

    .reply-emojis i {
        text-align: center  !important;
        padding: 5px 5px 5px 5px   !important;
        color: #93918f  !important;
        cursor: pointer  !important;
    }

.reply-recording {
    padding: 5px   !important;
}

    .reply-recording i {
        text-align: center  !important;
        padding: 5px   !important;
        color: #93918f  !important;
        cursor: pointer  !important;
    }

.reply-send {
    padding: 5px   !important;
}

    .reply-send i {
        text-align: center  !important;
        padding: 5px   !important;
        color: #93918f  !important;
        cursor: pointer  !important;
    }

.reply-main {
    padding: 2px 5px   !important;
}

    .reply-main textarea {
        width: 100%  !important;
        resize: none  !important;
        overflow: hidden  !important;
        padding: 5px   !important;
        outline: none  !important;
        border: none  !important;
        text-indent: 5px  !important;
        box-shadow: none  !important;
        height: 100%  !important;
        font-size: 16px  !important;
    }

        .reply-main textarea:focus {
            outline: none  !important;
            border: none  !important;
            text-indent: 5px  !important;
            box-shadow: none  !important;
        }

@media screen and (max-width: 700px) {
    .closebtn {
        width:10%;
        text-align: center;
    }
    .app {
        top: 0  !important;
        height: 100%  !important;
    }

    .heading {
        height: 70px !important;
        width: auto !important;
        min-width: 100px !important;
        min-height: auto;
    }

    .fa-2x {
        font-size: 2.3em   !important;
    }

    .heading-avatar {
        padding: 0   !important;
        width:10%;
        min-width:20px;
    }

    .heading-avatar-icon img {
        height: auto !important;
        width: auto !important;
        max-width:30px;
        max-height:30px;
    }

    .heading-name {
        width:90% !important;
        height:auto !important;
        margin-top:3px !important;
        min-width:100px !important;
        min-height:auto;
        
    }

    .heading-compose {
        padding: 5px   !important;
    }

        .heading-compose i {
            color: #fff  !important;
            cursor: pointer  !important;
        }

    .heading-dot {
        padding: 5px   !important;
        margin-left: 10px   !important;
    }

        .heading-dot i {
            color: #fff  !important;
            cursor: pointer  !important;
        }

    .sideBar {
        height: calc(100% - 130px)  !important;
    }

    .sideBar-body {
        height: 80px  !important;
    }

    .sideBar-avatar {
        text-align: left  !important;
        padding: 0 8px   !important;
    }

    .avatar-icon img {
        height: 55px  !important;
        width: 55px  !important;
    }

    .sideBar-main {
        padding: 0   !important;
    }

        .sideBar-main .row {
            padding: 0   !important;
            margin: 0   !important;
        }

    .sideBar-name {
        padding: 10px 5px   !important;
    }

    .name-meta {
        font-size: 16px  !important;
        padding: 5%   !important;
    }

    .sideBar-time {
        padding: 10px   !important;
    }

    .time-meta {
        text-align: right  !important;
        font-size: 14px  !important;
        padding: 4%   !important;
        color: rgba(0, 0, 0, .4)  !important;
        vertical-align: baseline  !important;
    }
    /*Conversation*/
    .conversation {
        padding: 0   !important;
        margin: 0   !important;
        height: 100%  !important;
        /*width: 100%  !important;*/
        border-left: 1px solid rgba(0, 0, 0, .08)  !important;
        /*overflow-y: auto  !important;*/
    }

    .message {
        height: calc(100% - 140px)  !important;
    }

    .reply {
        height: 70px  !important;
    }

    .reply-emojis {
        padding: 5px 0   !important;
    }

        .reply-emojis i {
            padding: 5px 2px   !important;
            font-size: 1.8em   !important;
        }

    .reply-main {
        padding: 2px 8px   !important;
        width:85% !important;
        min-width:150px !important;
    }

        .reply-main textarea {
            padding: 8px   !important;
            font-size: 18px  !important;
        }

    .reply-recording {
        padding: 5px 0   !important;
        width:15%;
        min-width:stretch;
    }

        .reply-recording i {
            padding: 5px 0   !important;
            font-size: 1.8em   !important;
        }

    .reply-send {
        padding: 5px 0   !important;
    }

        .reply-send i {
            padding: 5px 2px 5px 0   !important;
            font-size: 1.8em   !important;
        }
}

.chat-block {
    padding: 5px 5px 5px 5px;
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #000000;
    border-radius: 15px;
}

.btnMessage {
    width: 70px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 3px rgba(0,0,0.125);
}

    .btnMessage:hover {
        background-color: lightgray;
    }

    .btnMessage:active {
        position: relative;
        top: 1px;
    }

.closebtn {
    text-align:center;
}

@media screen and (max-width: 480px) {
    .btnMessage {
        width: 50px;
        border-radius: 10px;
        border: none;
        box-shadow: 0 2px 3px rgba(0,0,0.125);
    }
}