.fontQA {
    font-family: 'Microsoft JhengHei';
    font-style: normal;
}

.show {
    visibility: visible;
}

#hero h2 {
    margin-bottom: 0px;
}

.accordionMain {
    /*background-color: red;*/
    /*width: 600px;*/

    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
}



.adjustment {
    flex: 1;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 120px;
}

.containerjerry {
    display: flex;
    flex-direction: row;
    /*align-items: start !important;*/
    /*margin-top:1300px;*/
}

#hero {
    width: 100%;
    height: 200vh;
    /*background: url("~/assets/img/hero-bg.jpg") center center;*/
    overflow: auto;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    padding: 0;
    flex-wrap: wrap;
}

.align-items-center {
    /*-ms-flex-align: center !important;*/
    /*align-items:start !important;*/
}

.accordionborder {
    width: 100%;
    border-top: 10px solid black;
}

.QnAbar {
    width: 100%;
    /*position: relative;*/
    /*align-content:start;*/
    flex: 1;
    margin-top: 120px;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    place-content:space-around;
}

.botchat {
    margin-top: 0px;
    font-size: 10px;
    width: 100%;
    height: 400px;
    overflow: auto;
    background-color: #fff;
}

.querybtn {
    width:50px;
    height:34px;
    border-bottom-right-radius:3px;
    border-top-right-radius:3px;
}


.QnAbot {
    width: 300px;
    padding: 5px;
    /*margin:5px;*/
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px 0 #222;
}

.hoo :hover {
    background-color: #ECF5FF;
}

.containerbtn {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 30px;
    flex-wrap: wrap;
    height: 30vh;
}

    .containerbtn .skewBtn {
        width: 300px;
        height: 50px;
        outline: none;
        cursor: pointer;
        background: none;
        transition: 0.5s;
        font-size: 24px;
        border-radius: 5px;
        font-family: "Lato", sans-serif;
        font-weight: bold;
    }

        .containerbtn .skewBtn:hover {
            border: none;
            color: white;
            font-size: 28px;
            transform: scale(1.1);
        }


.blue {
    border: 2px solid #1976D2;
    color: #1976D2;
}

    .blue:hover {
        background-color: #1976D2;
        transition: all 0.3s ease-in-out;
    }

@media screen and (max-width: 766px) {
    .QnAbar {
        margin-top: 183px;
    }
}

