.fontQA {
    font-family: 'Microsoft JhengHei';
    font-style: normal;

}

.show {
    visibility:visible;
}

#hero h2 {
    margin-bottom:0px;
}

.accordionMain {
    /*background-color: red;*/
    /*width: 600px;*/
    
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
}



.adjustment {
    flex: 1;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:120px;
}

.containerjerry {
    display: flex;
    flex-direction: row;
    /*align-items: start !important;*/
    /*margin-top:1300px;*/
}

#hero {
    width: 100%;
    height: 200vh;
    /*background: url("~/assets/img/hero-bg.jpg") center center;*/
    overflow: auto;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    padding: 0;
    flex-wrap:wrap;
}

.align-items-center {
    
    /*-ms-flex-align: center !important;*/
    /*align-items:start !important;*/
}

.accordionborder {
    width:100%;
    border-top:10px solid black;
}

.QnAbar {
    width:100%;
    /*position: relative;*/
    /*align-content:start;*/
    flex: 1;
    margin-top:120px;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
}

.botchat {
    margin-top: 10px;
    font-size: 10px;
    width:100%;
    height: 400px;
    overflow: auto;
    background-color:#fff;

}



.QnAbot {
    width:300px;
    padding:5px;
    /*margin:5px;*/
    border:1px solid rgba(0,0,0,.125);
    border-radius:5px 5px 5px 5px;
    box-shadow: 0 1px 3px 0 #222;
}

.hoo :hover {
    background-color: #ECF5FF;
}

