@addTagHelper *, VaccinationReservationPlatForm
@model VaccinationReservationPlatForm.ViewModel.NewsViewModel
@{
}
@{

    <div class="container">

        <div class="section-title">
            <h2>News</h2>
        </div>

        <div class="row">
            <vc:news url="https://www.cna.com.tw/topic/newstopic/2012.aspx"></vc:news>
            
        </div>

    </div>

}
