@addTagHelper *, VaccinationReservationPlatForm
@model VaccinationReservationPlatForm.ViewModel.NewsViewModel
@{
}
@{

    <div class="container">
        <div class="section-title">
            <h2>新聞</h2>
        </div>
        <div class="row">
            <vc:news url="https://www.cna.com.tw/topic/newstopic/2012.aspx"></vc:news>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="section-title">
            <h2>疫苗資訊</h2>
        </div>
        <div class="row">
            <vc:vaccine-info></vc:vaccine-info>
        </div>
    </div>

}
